<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ant.track">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.trial.familonet.tracker.GPSLIVETRACKER_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Creating Permission to receive Google Maps -->
    <permission
        android:name="com.ant.track.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <permission
        android:name="com.ant.track.GPSLIVETRACKER_NOTIFICATIONS"
        android:description="@string/permission_notification_label"
        android:label="@string/permission_notification_label"
        android:permissionGroup="android.permission-group.LOCATION" />
    <!-- Permission to receive Google Maps -->
    <uses-permission android:name="com.ant.track.permission.MAPS_RECEIVE" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.ant.track.application.GPSLiveTrackerApplication"
        android:allowBackup="true"
        android:icon="@drawable/walk"
        android:label="@string/app_name"

        android:theme="@style/GPSLiveTrackerTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name=".service.RecordingServiceImpl"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_arrow_320"
            android:label="@string/gps_live_tracking_recording_service" />
        <activity
            android:name="com.ant.track.activities.MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
