<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ant.track.lib">

    <application
        android:name=".application.TrackLibApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <provider
            android:name=".db.provider.TrackMeDbProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true" />
    </application>

</manifest>
